$main-theme-color: #1f1d2e;
$body-bg-color: #191724;
$anchor-color: #31748f;
$main-text-color: #e0def4;
$border-color: #31748f;
$main-bg-color: #191724;
$secondary-text-color: #eb6f92;
$toast-border: #c4a7e7;
$toast-bg: #26233a;
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";
@import "_dark_scrollbars.scss";
